.BasicInfosContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 20px;
    padding: 20px;
    font-size: xx-large;
    align-items: center;
}

.BasicInfosName{
    text-align: center;
    border-radius: 20px;
    background-color: #183d6c;
    color: white;
}

.BasicInfosEng{
    text-align: center;
    border-radius: 20px;
    background-color: #183d6c;
    color: white;
}

.BasicInfosPDF{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-content: center;
    border-radius: 20px;
    background-color: #183d6c;
    color: white;
}