.ElectiveContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    font-size: xx-large;
}

.ElectiveCurrentHours{
    text-align: center;
    border-radius: 20px;
    background-color: #183d6c;
    color: white
}

.ElectiveNeededHours{
    text-align: center;
    border-radius: 20px;
    background-color: #183d6c;
    color: white
}